<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title> Trips&Travel.Com Vacation Recommendation </title>
  <link rel="icon" type="images/x-icon" href=./static/images/wrench.png />


  <style>
    body {
      background-color: rgb(173, 173, 171);
      height: 100%;
      font-size: 80%;
    }

    p {
      font-size: 100%;
      padding-top: 0;
    }

    legend {
      font-size: 100%;
      font-weight: bold;
    }

    strong {
      font-weight: bold;
      font-size: 110%;
    }

    a {
      color: rgb(148, 176, 49);
    }

    .redText {
      color: red
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    .equipment {
      text-align: center
    }

    .my-footer {
      position: fixed;
      left: 0;
      bottom: 0;
      min-height: 5%;
      min-width: 100%;
      color: white;
      background-color: rgb(62, 82, 91);
    }

    div#heading {
      padding: 5eM;
      margin: auto;
      text-align: center;
    }
  </style>
</head>

<body>
  <nav class="navbar" style="background-color: rgb(62, 82, 91);">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="./static/images/logo.png" alt="TravelTipsLogo" width="100" height="100">
      </a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
      <div class="navbar navbar-expand" id="navbarScroll">
      </div>
    </div>
  </nav>

  <div class="equipmentHeader">
    <h2>Client Data Form</h2>
  </div>
  <hr> <!--horizonal break-->
  <div class="container-fluid">
    <strong>Please enter the following information:</strong>
    <form action="/verify" method="POST"> <!--This will post the data to the webserver when it's running (localhost); changed from response -->  

      
      <div class="form-row">
        <div class="col">
          <label>
            Your Age:
            <input type="string" name="Age" required />
            <span class="validity"></span>
          </label> </p>
        </div>
        <div class="col">
          <p> <label>
              Income:
              <input type="string" name="MonthlyIncome" required />
            </label> </p>
        </div>
      </div>

      <fieldset>
        <legend>Passport Status:</legend>
        <br>
        <div class="form-row">
          <div class="col">
            <input type="checkbox" id="Passport" name="Passport" value="1">
            <label for="Routine1">I have a Passport</label>
          </div>
        </div>
      </fieldset>
      <br>

      <fieldset>
        <legend>MaritalStatus:</legend>
        <br>
        <div class="form-row">
          <div class="col">
            <input type="checkbox" id="MaritalStatus_Divorced" name="MaritalStatus_Divorced" value="1">
            <label for="Routine1">Divorced</label>
          </div>
          <div class="col">
            <input type="checkbox" id="Marital_StatusMarried" name="Marital_StatusMarried" value="1">
            <label for="Routine2">Married</label>
          </div>
          <div class="col">
            <input type="checkbox" id="MaritalStatus_SingleUnmarried" name="MaritalStatus_SingleUnmarried" value="1">
            <label for="Routine3">Single/Unmarried</label>
          </div>
        </div>
      </fieldset>

      <br>
      <fieldset>
        <legend>Accomodation Rating Star Preference:</legend>
        <br>
        <div class="form-row">
          <div class="col">
            <input type="checkbox" id="PreferredPropertyStar_3" name="PreferredPropertyStar_3" value="1">
            <label for="Routine1">3-Star</label>
          </div>
          <div class="col">
            <input type="checkbox" id="PreferredPropertyStar_4" name="PreferredPropertyStar_4" value="1">
            <label for="Routine2">4-Star</label>
          </div>
          <div class="col">
            <input type="checkbox" id="PreferredPropertyStar_5" name="PreferredPropertyStar_5" value="1">
            <label for="Routine3">5-Star</label>
          </div>
        </div>
      </fieldset>
      <br>

      <br>
      <fieldset>
        <legend>Select a Package to Recommend:</legend>
        <br>
        <div class="form-row">
          <div class="col">
            <input type="checkbox" id="Basic" name="Basic" value="1">
            <label for="Routine1">Basic</label>
          </div>
          <div class="col">
            <input type="checkbox" id="Delux" name="Delux" value="1">
            <label for="Routine2">Delux</label>
          </div>
          <div class="col">
            <input type="checkbox" id="King" name="King" value="1">
            <label for="Routine3">King</label>
          </div>
          <div class="col">
            <input type="checkbox" id="Standard" name="Standard" value="1">
            <label for="Routine3">Standard</label>
          </div>
          <div class="col">
            <input type="checkbox" id="SuperDelux" name="SuperDelux" value="1">
            <label for="Routine3">SuperDelux</label>
          </div>
        </div>
      </fieldset>
      <br>


      <input class="btn btn-primary" id="submitbutton" type="submit" value="Submit">
    </form>

    <script>
      document.getElementById("submitbutton").addEventListener("click", function () {
        notifyModal("The Request Was Submitted","{{.pre}}", "info" )
      })

      function notifyModal(title, text, icon) {

        Swal.fire({
          title: title,
          html: text,
          icon: icon
        });
      }
    </script>



    <!-- CDN Imports -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 

</body>

<div class="my-footer">
  <div class="container">
    <div class="row">

    </div>
  </div>
</div>


</html>